*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-font:'Raleway', sans-serif;
  --pale-blue: hsl(243, 100%, 93%);
  --rayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}
body{
  min-height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/bg-mobile.png);
  background-position: center;
  background-size: cover;
  font-family: var(--main-font);
  color: var(--pale-blue);
}
.main{
  margin-top: 126px;
  background-color: rgba(250, 235, 215, 0);
  height: 378px;
  width: 324px;
}
.secction__cta{
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  height:202px ;
  margin-bottom: 16px;
  border-radius: 12px 100px 12px 12px;
  gap:34px;
  padding:40px 0 0 40px ;
}
.cta__logo{
  width: 140px;  
}
.cta__container{
  width: 178px;
  height: 46px;
  display: flex;
  gap: 16px;
}
.cta__icon{
  border-radius: 10px;
  padding: 12px 12px;
  background-color: var(--very-dark-blue);
  height: 46px;
  width: 48px;
}
.section__content{
  background-color: var(--dark-blue);
  height: 160px;
  border-radius: 12px;
  position: relative;
  padding: 32px 32px ;
}
.content__title{
  font-size: 15px;
  font-weight: 400;
  padding-left: 14px;
  word-spacing: -1.5px;
  margin-bottom: 15px;
}
.content__title--active{
  font-weight: 700;
}
.content__progress--bar{
  height: 18px ;
  border-radius: 12px;
  background-color: var(--very-dark-blue);
  padding: 2px;
  margin-bottom: 10px;
  position: relative;
}
.content__progress--bar::after{
  content: '';
  display: block;
  height: 14px ;
  width: 190px;
  border-radius: 12px;
  background: #ff9f96;
  background: linear-gradient(45deg,#ff9f96 0%, #fd5296 80%);
}
.content__progress--bar::before{
  content: '';
  display: block;
  height: 10px ;
  width: 10px; 
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left:180px;
  top: 4px;
}
.content__progress__container{
  display: flex;
  justify-content: space-between;
}
.content__progress{
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
}
.content__information{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 12px;
  background-color: #fff;
  color: #000000;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  border-radius: 12px;
  position: relative;
  height: 74px;
  width: 180px;
  padding: 12px 0 12px 6px ;
  margin: 0 auto;
  bottom: -16px;
}
.content__information--active{
  display: flex;
  align-self: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  color: #5d5d5d;
}
@media screen and (min-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--very-dark-blue)url(../images/bg-desktop.png) no-repeat bottom;
  }
  .main{
    margin-top: 0;
    background-color: rgba(250, 235, 215, 0);
    display: flex;
    justify-content: space-between;
    gap: 0px;
    height: 220px;
    width: 920px;
  }
  .secction__cta{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    height:202px ;
    width: 350px;
    margin-bottom: 16px;
    border-radius: 12px 100px 12px 12px;
    gap:34px;
    padding:40px 0 0 40px ;
  }
  .section__content{
    background-color: var(--dark-blue);
    margin-top: 46px;
    height: 156px;
    width: 540px;
    border-radius: 12px;
    position: relative;
    padding: 40px 32px ;
  }
  .content__title{
    padding-left: 8px;
  }
  .content__progress{
    font-size: 14px;
    padding: 0px 0 0 8px;
  }
  .content__information{
    position: absolute;
    margin: 0;
    bottom: 130px;
    left: 320px;
    border-radius: 12px 12px 0 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 42px 0 12px 12px;
    flex-wrap: wrap;
  }
  .content__information--active{
   width: 70px;
  }
  .content__information::after{
    content: '';
    background-color: #ffffff;
    display: block;
    position: relative;
    width: 40px;
    height: 22px;
    bottom: 0;
    right: -64px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
}